<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BE177EE2110FFC1003ADE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE178052110FFC3003ADE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BE178102110FFC3003ADE49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
